<!DOCTYPE html>
<html>
<head>
  <title>TimeTrack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li>
      <%= link_to "New", "#" %>
        <ul>
          <li><%= link_to "Project", new_project_path %></li>
          <li><%= link_to "Task", new_task_path %></li>
          <li><%= link_to "Time", "new_work_path" %></li>
        </ul>
    </li>
    <li><%= link_to "Projects", projects_path %></li>
    <li><%= link_to "Tasks", tasks_path %></li>
    <li><%= link_to "Work Done", works_path %></li>
    <li><%= link_to "Reports", reports_path %></li>
  </ul>
</nav>
</header>
<body>
<%= yield %>
</body>

<footer>Created with love by Morgan Schultz</footer>
</html>
